{% extends 'base.html' %}

{% block title %}
{{ recipe }}
{% endblock title %}

{% block content %}
<div id="recipe-container">
  <div id="recipe">
    <div class="ui basic center aligned segment">
      <h1 class="ui header">{{ recipe.title }}</h1>
      <p>{{ recipe.description }}</p>
      {% if recipe.prep_time or recipe.wait_time or recipe.cook_time %}
        <div>
          <i class="wait icon"></i>
          {% if recipe.prep_time %}
            <span class="timer"><strong>Prep:</strong> {{ recipe.get_prep_time }}</span>
          {% endif %}
          {% if recipe.wait_time %}
            <span class="timer"><strong>Wait:</strong> {{ recipe.get_wait_time }}</span>
          {% endif %}
          {% if recipe.cook_time %}
            <span class="timer"><strong>Cook:</strong> {{ recipe.get_cook_time }}</span>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="ui stackable grid">
      <div class="six wide column">
        <h2 class="ui header">Ingredients</h2>
        <div class="ui relaxed list">
          {% for ingredient in recipe.ingredients.all %}
            <div class="ui item">
              <i class="square outline icon"></i>
              <div class="content">
                {{ ingredient.text }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="ten wide column">
        <h2 class="ui header">Directions</h2>
        <ol class="ui relaxed list">
          {% for direction in recipe.directions.all %}
            <li class="item">
              {{ direction.text }}
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
